<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Store Application</title>
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/Image/Movie.png" width="30" height="30"/>
                    Movie Store
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/aboutus">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/contactus">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Movie/GetAllMovies">All Movies</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main role="main">  @RenderBody()</main>
      
    
</body>
</html>
