<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movie Store Application</title>
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    
    <main role="main">  @RenderBody()</main>
       
    
</body>
</html>
