@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>

<body class="container">

    <img src="~/Image/Movie.png " class="logo" alt="logo" /><br>
    <input type="button" value="Click Me"class="btn-danger"/>

    <h1 class="h1"> Welcome to the Movie store application!</h1>

</body>
</html>

