
@model MovieModel

<div class="container">
    <h3 class="display-4">Add a new movie </h3>
    <form method="post">
        <div class="col-m-6">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Title"></label>
                    <input asp-for="@Model.Title" class="form-control" placeholder="Add a new movie">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Director"></label>
                    <input asp-for="@Model.Director" class="form-control" placeholder="Director name">
                    <span asp-validation-for="Director"class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Description"></label>
                    <textarea asp-for="@Model.Description " class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description"class="text-danger"></span>
                </div>
            </div>@Html.AntiForgeryToken()
            <div class="form-row">
                <button type="submit" value="submit" class="btn btn-primary">Add</button>
            </div>
        </div>

</form>
</div>